@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #FFF;
}

.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 25%;
}
.logo img {
  margin-bottom: 0;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
  color: rgb(255, 255, 255);
}

.header {
  padding-top: 22px;
  background-image: url("../images/herobg.svg");
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-lang {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-lang__ru {
  color: #fff;
  font-weight: 600;
  transition: color 0.3s, border-bottom 0.3s;
}
.header-lang__ru:hover {
  color: #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.header-lang__en {
  color: #fff;
  font-weight: 600;
  margin-left: 8px;
  transition: color 0.3s, border-bottom 0.3s;
}
.header-lang__en:hover {
  color: #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.header .hero .info__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 48px;
  max-width: 791px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 53px;
}
.header .hero .info__btn {
  background: #DB2512;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 11px 48px;
  margin-bottom: 207px;
}
.header .hero .block {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.header .hero .block-col {
  background-color: #fff;
  color: #000;
  padding: 39px 48px;
  margin-right: 21px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.header .hero .block-col__img {
  margin-bottom: 21px;
}
.header .hero .block-col__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.header .hero .block-col__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #B7B7B7;
}
.header .hero .block-col:last-child {
  margin-right: 0;
}

.services {
  margin-top: 100px;
  color: #000;
  margin-bottom: 100px;
}
.services-head {
  margin-bottom: 60px;
}
.services-head__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.services-head__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.15em;
  color: #000000;
  transition: color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.services-head__link:hover {
  cursor: pointer;
  color: #B7B7B7;
  text-decoration: underline;
}
.services .block {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .block-col {
  margin-right: 20px;
}
.services .block-col__img {
  margin-bottom: 21px;
}
.services .block-col__title {
  max-width: 250px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}
.services .block-col:last-child {
  margin-right: 0;
}

.about {
  background-color: #171616;
}
.about .col {
  display: inline-flex;
  justify-content: space-between;
}
.about .col-text {
  margin-top: 117px;
  max-width: 506px;
  margin-right: 182px;
  margin-bottom: 116px;
}
.about .col-text__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 42px;
}
.about .col-text__descr {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.23em;
  color: #B7B7B7;
  margin-bottom: 48px;
}
.about .col-text__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.about .col-text__link:hover {
  cursor: pointer;
  color: #B7B7B7;
  text-decoration: underline;
}
.about .col__img {
  margin-top: 153px;
  max-height: 342px;
}

.fast {
  color: #000;
  margin-top: 100px;
  margin-bottom: 100px;
}
.fast .our-info {
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 92px;
}
.fast .our-info__title {
  font-weight: 900;
  font-size: 148px;
  line-height: 150%;
  text-transform: uppercase;
}
.fast .our-info__descr {
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.fast .our-col__card {
  display: inline-flex;
  justify-content: space-between;
}
.fast .our-col__item {
  margin-right: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  padding: 28px 30px;
}
.fast .our-col__item:last-child {
  margin-right: 0;
}
.fast .our-col__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.fast .our-col__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #B7B7B7;
}

.footer {
  margin-top: 66px;
  padding-bottom: 66px;
  display: inline-flex;
}
.footer .copy {
  color: #000;
  padding-left: 106px;
}

@media screen and (max-width: 1000px) {
  body {
    font-family: "Poppins", sans-serif;
    color: #FFF;
  }

  .container {
    max-width: 796px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    padding-top: 22px;
    background-image: url("../images/herobg.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 130px;
  }
  .header-nav {
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
  }
  .header-nav__list {
    display: flex;
  }
  .header-nav__item {
    margin-right: 10px;
  }
  .header-nav__item:last-child {
    margin-right: 0;
  }
  .header-nav__link {
    color: #fff;
    transition: color 0.3s, border-bottom 0.3s;
  }
  .header-nav__link:hover {
    color: #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }
  .header-lang {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .header-lang__ru {
    color: #fff;
    font-weight: 600;
    transition: color 0.3s, border-bottom 0.3s;
  }
  .header-lang__ru:hover {
    color: #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }
  .header-lang__en {
    color: #fff;
    font-weight: 600;
    margin-left: 8px;
    transition: color 0.3s, border-bottom 0.3s;
  }
  .header-lang__en:hover {
    color: #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }
  .header .hero .info__title {
    font-weight: 700;
    font-size: 48px;
    max-width: 791px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 53px;
  }
  .header .hero .info__btn {
    background: #DB2512;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    padding: 11px 48px;
    margin-bottom: 207px;
  }
  .header .hero .block {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  .header .hero .block-col {
    background-color: #fff;
    color: #000;
    padding: 39px 48px;
    margin-right: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    min-height: 270px;
    min-width: 100%;
  }
  .header .hero .block-col__img {
    margin-bottom: 21px;
  }
  .header .hero .block-col__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .header .hero .block-col__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B7B7B7;
  }
  .header .hero .block-col:last-child {
    margin-right: 0;
  }

  .services {
    margin-top: 100px;
    color: #000;
    margin-bottom: 100px;
  }
  .services-head {
    margin-bottom: 60px;
    text-align: center;
  }
  .services-head__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .services-head__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.15em;
    color: #000000;
    transition: color 0.3s, -webkit-text-decoration 0.3s;
    transition: color 0.3s, text-decoration 0.3s;
    transition: color 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
  }
  .services-head__link:hover {
    cursor: pointer;
    color: #B7B7B7;
    text-decoration: underline;
  }
  .services .block {
    display: inline-flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    max-width: 100%;
  }
  .services .block-col {
    margin-right: 0;
  }
  .services .block-col__img {
    margin-bottom: 21px;
    max-width: 100%;
  }
  .services .block-col__title {
    max-width: 250px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
  }
  .services .block-col:last-child {
    margin-right: 0;
  }

  .about {
    background-color: #171616;
  }
  .about .col {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .about .col-text {
    margin-top: 117px;
    max-width: 100%;
    margin-right: 30%;
    margin-bottom: 116px;
  }
  .about .col-text__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 42px;
  }
  .about .col-text__descr {
    font-weight: 600;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.23em;
    color: #B7B7B7;
    margin-bottom: 48px;
  }
  .about .col-text__link {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 0.3s, -webkit-text-decoration 0.3s;
    transition: color 0.3s, text-decoration 0.3s;
    transition: color 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
  }
  .about .col-text__link:hover {
    cursor: pointer;
    color: #B7B7B7;
    text-decoration: underline;
  }
  .about .col__img {
    margin-top: 0;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .fast {
    color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .fast .our-info {
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 92px;
  }
  .fast .our-info__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 150%;
    text-transform: uppercase;
  }
  .fast .our-info__descr {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .fast .our-col__card {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 100%;
  }
  .fast .our-col__item {
    min-width: 100%;
    margin-right: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 28px 30px;
  }
  .fast .our-col__item:last-child {
    margin-right: 0;
  }
  .fast .our-col__title {
    margin-bottom: 15px;
    max-width: 593px;
    margin-right: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .fast .our-col__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B7B7B7;
  }

  .footer {
    margin-top: 66px;
    padding-bottom: 66px;
    display: inline-flex;
  }
  .footer .copy {
    color: #000;
    padding-left: 10px;
  }

  .logo {
    margin-right: 0;
  }

  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #dfdfdf;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */